*,
#crop-killa {
  margin: 0px;
  padding: 0px;
}

#ck-out-box,
#ck-src-box {
  color: white;
  background-repeat: no-repeat;
  margin: 0px;
}

#ck-src-box > #ck-crop-box {
  border: white 1px solid;
  cursor: pointer;
  height: 50px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

#ck-src-box > #ck-crop-box > #resize {
  border: yellow 1px solid;
  bottom: 0px;
  cursor: se-resize;
  height: 10px;
  position: absolute;
  right: 0px;
  width: 10px;
}

#ck-src-box,
#ck-out-box {
  margin: 10px;
}